*  {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
ul {
  list-style-type: none;
  font-size: 18px

}
header {
  background-image: url(../images/builden.png);
  background-size: cover;
}
li {
  color: white;
}

h1 {
  font-size: 70px;
  color: white;
}
